@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --textshadow: #6F4675;
    --textp: #B736CA;
    --texth1: #D918F5;
    --background : #322C33;
    --fonte0: Arial, Helvetica, sans-serif;
}

article > h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #4E1884;
    
}

#home-article {
    border-color: 1px solid black;
}


body {
    font-family: Arial, sans-serif;
    background-color: #efeff0;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}