@charset "UTF-8";


body {
    margin: 0;
    overflow: hidden;
    background-color: #0d0d0d; /* Fundo escuro para destacar */
}

.light-particle {
    position: absolute;
    border-radius: 50%;
    top: 0%;
    left: 0%;
    opacity: 0; /* Começa invisível para o fade-in */
    filter: blur(2px); /* Suaviza a borda */
    transition: opacity 0.5s ease; /* Transição suave se precisar */
    pointer-events: none; /* Não atrapalha cliques na tela */
    
    z-index: -1;
}