@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --textshadow: #6F4675;
    --textp: #B736CA;
    --texth1: #D918F5;
    --background : #322C33;
    --fonte0: Arial, Helvetica, sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: radial-gradient(circle at center, #2c1a3a 0%, #000000 100%);

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   overflow-x: hidden;
   overflow-y: auto;
}

#cima {
    display: flex;
    justify-content: center;
    margin: 0;
}

#botao-home {
    display: block;
    margin: 0;
    padding: 10px 20px;
    
    color: rgba(255, 255, 255, 0.932);
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    width: 95px;
    transition: all 0.3s ease;
    border: #4e188480 1px solid;
}

#botao-home:hover {
    border: 1px solid #4E1884;
    box-shadow: 0 0 3px #4E1884;
}

.baixo {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}


#botao-avancar, #botão-voltar {
    padding: 10px 20px;
    margin: 20px 0;
    
    color: rgba(255, 255, 255, 0.932);
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    width: 110px;
    transition: all 0.3s ease;
    border: #4e188480 1px solid;
}

#botao-avancar:hover {
    border: 1px solid #4E1884;
    box-shadow: 0 0 3px #4E1884;
   
}

#botão-voltar:hover {
    border: 1px solid #4E1884;
    box-shadow: 0 0 3px #4E1884;
   
}



article.textpag2 > p {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #f0f0f0f3;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2px;
}



article.textpag2-2 > p {
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.6;
    color: #f0f0f0c4;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}


.video-glass-card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    border-radius: 15px;
    padding: 10px; 
    width: 90%;    
    max-width: 500px; 
    margin: 20px auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.video-glass-card:hover { 
    border-color: #D918F5;
    transform: scale(1.02);
    box-shadow: 0 0 5px rgba(217, 24, 245, 0.4);
}

/* Títulos em cima do vídeo */
.video-glass-card .track-info h3 {
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 2px;
    text-align: center;
}

.video-glass-card .track-info p {
    color: #bbb;
    font-size: 0.85rem;
    text-align: center;
    margin-bottom: 10px;
}

/* O Vídeo em si */
.custom-video {
    width: 100%;       /* Preenche o card */
    border-radius: 10px; /* Bordas arredondadas pra combinar */
    outline: none;
    max-height: 60vh;  /* Não deixa ficar mais alto que a tela do celular */
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

main {
    border-radius: 20px;
    width: 95%;
    max-width: 400px;
    height: auto;
    max-height: 65vh;

    overflow-y: auto;
   
    box-shadow: 1px 2px 2px rgba(17, 0, 37, 0.85);
    padding: 30px;
    padding-top: 130px;
    margin: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #5c1d9ba2 1px solid ;
}

.text-trigger-card {
    border: 1px solid #5c1d9ba2;
    border-radius: 20px;
    padding: 4px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
    width: 95px;
    max-width: 200px;
    margin: 20px auto;
    height: 30px;
}

.text-trigger-card:hover {
    transform: translateY(-5px);
    background: #5c1d9ba2;
    box-shadow: 0 10px 20px rgba(26, 1, 29, 0.2); /* Aquele brilho roxo maroto */
}

.card-icon { font-size: 3rem; }
.card-title { font-weight: bold; color: #fff; font-size: 1.2rem; }
.card-subtitle { color: #fff; font-size: 0.9rem; }


/* --- O MODAL DE TEXTO (A Mágica) --- */
.modal-text-overlay {
    display: none; /* Começa escondido */
    position: fixed;
    z-index: 2000; /* Bem na frente de tudo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85); /* Fundo escuro focado */
    backdrop-filter: blur(5px);
    
    /* Centraliza a caixa de texto */
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.3s;
}

/* A Caixinha do Texto em si */
.modal-text-box {
    
    border: 1px solid #D918F5; /* Borda roxa combinando com seu tema */
    border-radius: 8px;
    width: 90%;
    max-width: 400px; /* Largura máxima de leitura */
    max-height: 80vh; /* Altura máxima (80% da tela) */
    padding: 25px;
    box-shadow: 0 0 3px rgba(217, 24, 245, 0.3);
    
    position: relative;
    display: flex;
    flex-direction: column;
}




/* Área de Rolagem do Texto */
.scrollable-content {
    overflow-y: auto; 
    color: #e0e0e0;
    font-size: 1rem;
    line-height: 1.6; 
    padding-right: 10px; 
    text-indent: 1.5em;
    text-align: justify;

}

/* Personaliza a barra de rolagem do texto */
.scrollable-content::-webkit-scrollbar { width: 6px; }
.scrollable-content::-webkit-scrollbar-thumb { background: #555; border-radius: 8px; }

/* Botão Fechar (X) */
.close-btn-text {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
.close-btn-text:hover { color: #fff; }

@keyframes fadeIn { from {opacity: 0;} to {opacity: 1;} }


#box-lyrics {
    border: #D918F5 1px solid;
    border-radius: 8px;
    margin: 10px 0;

}

.lyrics-container {
    height: 300px; /* Altura da caixa de letra */
    overflow-y: auto; /* Rolagem automática */
    background: rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-top: 15px;
    scroll-behavior: smooth; /* Rolagem suave */

}

.line {
    font-size: 1rem;
    color: #888; /* Cor da letra "apagada" */
    margin: 15px 0;
    transition: all 0.2s ease; /* Animação da troca */
    opacity: 0.6;
}


.line.active {
    color: #D918F5; /* Sua cor roxa neon */
    font-size: 1rem; /* Fica maior */
    opacity: 1;
    transform: scale(1.05);
    
    transform-origin: center;
}

#music-tittle-text {
    color: #D918F5;
    margin-top: 2px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.9;
}   

#title-text p {
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 7px;
    

}

audio {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    outline: none;
    /* Mágica: Inverte (fica preto) e gira a cor pra tentar achar o roxo/rosa */
    filter: invert(100%) sepia(20%) saturate(500%) hue-rotate(260deg);
    border-radius: 8px;
    opacity: 0.9;
}

/* Reaproveitando estilos do modal, mas com ajustes pra senha */
.modal-overlay {
    display: none;
    position: fixed;
    z-index: 3000; /* Bem na frente */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.3s;
}

.password-box {

    border: 1px solid #9130b8;
    border-radius: 15px;
    padding: 30px;
    width: 90%;
    max-width: 350px; /* Pequenininho e compacto */
    text-align: center;
    box-shadow: 0 0 20px rgba(217, 24, 245, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.password-box h3 { color: #fff; margin-bottom: 5px; }
.password-box p { color: #ccc; font-size: 0.9rem; }

/* O Input da Senha */
#inputSenha {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #444;
    background: #222;
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    outline: none;
    transition: 0.3s;
}

#inputSenha:focus {
    border-color: #9130b8;
    box-shadow: 0 0 8px rgba(217, 24, 245, 0.4);
}

/* Botão Confirmar */
#btnConfirmarSenha {
    padding: 10px;
    border: #9230b8be 1px solid;
    border-radius: 20px;
    background: #000000;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;

     font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;

}

#btnConfirmarSenha:hover { border: 1px solid #b012c7; }

/* Mensagem de Erro (escondida por padrão) */
.error-msg {
    color: #ff4d4d !important; /* Vermelho alerta */
    font-size: 0.85rem !important;
    display: none; /* Começa invisível */
}

/* O X de fechar específico da senha */
.close-btn-senha {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 24px;
    cursor: pointer;
}



strong {
    color: #fdd3fd;
    text-align: center;
    font-family: 'Times New Roman', Times, serif !important;
}